
body {
    background-color:#5a6263 ;
    text-align: center;
}
table {
   margin-left: auto;
   margin-right: auto;
}

    h1, li, p {
    color: #fff;
    font-family: 'Sora', sans-serif;
}
h2, h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #d2d2d2;
}
q {
    font-style: italic;
    color: #e84500;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #fed801;
    text-decoration: underline;
}
ul {
    list-style: none; /* Remove default bullets */

  }
  
  ul li::before {
    content: "\2022";  
    color:#fed801; 
    font-weight: bold; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em; 
  }